body, html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    padding-top: 50px;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

h1, p {
    margin: 0;
}