/* ripple-effect v1.0.0 | MIT License | github.com/gabrielfins/ripple-effect */

.ripple-effect {
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;

    &.ripples-light .ripple {
        background-color: #FFFFFF;
    }

    &.ripples-dark .ripple {
        background-color: #000000;
    }
}

.ripple {
    background-color: #000000;
    opacity: .16;
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transition: .6s;
    animation: ripple 0.3s ease-out;
}

@keyframes ripple {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
